**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/poo-1/Dorminhoco/nbproject/private/
/poo-1/ListaCompras/nbproject/private/
/poo-1/LixeiraInteligente/nbproject/private/
/poo-1/ListaChamada/nbproject/private/